ul.social-sprite li {
	float: left;
	list-style: none outside none;
	border: none
}

ul.social-sprite li a {
	background-image: url(../imgs/mini-social-icons.png);
	background-repeat: no-repeat;
	background-size: auto 96px;
	border: 0 none;
	color: #fff;
	direction: ltr;
	display: block;
	height: 32px;
	overflow: hidden;
	text-align: left;
	text-decoration: none;
	text-indent: -999em;
	transition: all .2s ease 0;
	width: 32px;
	margin-left: 0px;
}

.ie7 ul.social-sprite li a,.ie8 ul.social-sprite li a {
	background-image: url(../imgs/mini-social-icons.png);
}

ul.social-sprite li.facebook a {
	background-position: 0 -32px
}

ul.social-sprite li.googleplus a {
	background-position: -96px -32px
}

ul.social-sprite li.rss a {
	background-position: -192px -32px
}

ul.social-sprite li.twitter a {
	background-position: -256px -32px
}

ul.social-sprite li.youtube a {
	background-position: -320px -32px
}

ul.social-sprite li.pinterest a {
	background-position: -160px -32px
}

ul.social-sprite li.linkedin a {
	background-position: -128px -32px
}

ul.social-sprite li.instagram a {
	background-position: -288px -32px;
}


#social-media {
	display:inline-block;
	vertical-align: middle;
.social-sprite {
	overflow: hidden;
	float: none;
	margin:0;
	li {
		margin-left:5px;
		&:first-child {
			margin-left:0;
		}
}
}
}
