

header.site-header {
  padding-top:1em;
  padding-bottom: 1em;
  .button {
    margin: 0;
    padding: 0.45em;
    font-size: 1em;
    font-weight: bold;
  }
}

// Home Page Styles

#pg-intro {
  background:$dark-blue;
  border-top:1px solid $light-blue;
  border-bottom:1px solid $black;
  color:$white;

  i {

    font-size:7em;
    line-height: 1em;
  }
  .intro-title {
    font-size:2em;
}
  .intro-read {
      color:$black;
      font-size:0.825rem;
    }

}

// Header Search

.pg-search-wrapper {
  input {
    min-height: 40px;
    margin:0.25em 0;
  }
}


// AutoComplete Search Box
.autocomplete-suggestions {
    text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);

    /* core styles should not be changed */
    position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
}
.autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 1.02em; color: #333; }
.autocomplete-suggestion b { font-weight: normal; color: #1f8dd6; }
.autocomplete-suggestion.selected { background: #f0f0f0; }

// Main Top Navigation

nav.site-navigation {

  li > a {
    color:$dark-gray;
    font-size:1.2em;
  }
}




// Slideshow Responsive Adjustments

#pg-slideshow {
  max-height: 50vh;
  overflow: hidden;
}

// Section Background Colors


.bg-light-gray {
  background:$light-gray;
}
