

header.site-header {
  padding-top:1em;
  padding-bottom: 1em;
  .button {
    margin: 0;
    padding: 0.45em;
    font-size: 1em;
    font-weight: bold;
  }
}

// Home Page Styles

#pg-intro {
  background:$dark-blue;
  border-top:1px solid $light-blue;
  border-bottom:1px solid $black;
  color:$white;
  padding-top:0.5em;
  padding-bottom:0.5em;

  .grid-container>.grid-x >.small-4 {
    border-left:1px solid $light-blue;
    border-right:1px solid darken($dark-blue, 10%);
    &:first-child {
      border-left: 0;
    }
    &:last-child {
      border-right:0;
    }
    &:hover i {
      color:$white;
    }
    &:hover .intro-read {
      background:transparent;
      border:1px solid $white;
    }
  }
  i {
    color:$light-blue;
    font-size:6em;
    line-height: 1em;
  @include transition(ease 500ms);
  }
  .intro-title {
    font-size:2em;
}
  .intro-read {
      color:$black;
      font-size:0.825rem;
      border: 1px solid transparent;
    }

}

// Header Search

.pg-search-wrapper {
  input {
    min-height: 40px;
    margin:0.25em 0;
  }
}



// Main Top Navigation

nav.site-navigation {

  li > a {
    color:$dark-gray;
    font-size:1.1em;
  }
  .dropdown.menu a {
    padding: 1rem 1rem;
}
}




// Slideshow Responsive Adjustments

#pg-slideshow {
  max-height: 50vh;
  overflow: hidden;
}

// Section Background Colors


.bg-light-gray {
  background:$light-gray;
}

// Sidebar

.lensx-btn {

}
