@font-face {
	font-family: 'Ubuntu';
	src: url('fonts/Ubuntu-Regular.eot');
	src: url('fonts/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/Ubuntu-Regular.woff') format('woff'),
		url('fonts/Ubuntu-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cabin';
	src: url('fonts/Cabin-Italic.eot');
	src: url('fonts/Cabin-Italic.eot?#iefix') format('embedded-opentype'),
		url('fonts/Cabin-Italic.woff') format('woff'),
		url('fonts/Cabin-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('fonts/Ubuntu-Bold.eot');
	src: url('fonts/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Ubuntu-Bold.woff') format('woff'),
		url('fonts/Ubuntu-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Cabin';
	src: url('fonts/Cabin-Regular.eot');
	src: url('fonts/Cabin-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/Cabin-Regular.woff') format('woff'),
		url('fonts/Cabin-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cabin';
	src: url('fonts/Cabin-Bold.eot');
	src: url('fonts/Cabin-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Cabin-Bold.woff') format('woff'),
		url('fonts/Cabin-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Cabin Sketch';
	src: url('fonts/CabinSketch-Bold.eot');
	src: url('fonts/CabinSketch-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/CabinSketch-Bold.woff') format('woff'),
		url('fonts/CabinSketch-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Cabin Sketch';
	src: url('fonts/CabinSketch-Regular.eot');
	src: url('fonts/CabinSketch-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/CabinSketch-Regular.woff') format('woff'),
		url('fonts/CabinSketch-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('fonts/Ubuntu-Italic.eot');
	src: url('fonts/Ubuntu-Italic.eot?#iefix') format('embedded-opentype'),
		url('fonts/Ubuntu-Italic.woff') format('woff'),
		url('fonts/Ubuntu-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
